body{
    /* background: linear-gradient(135deg, #1B8AF1, #B58DED);*/
    text-align: center;
    flex-wrap: wrap;
    background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
    height:100%;
    background-attachment: fixed;
    background-size: cover;
}

.ocean { 
    height: 5%;
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    background: #015871;
    /* z-index: 1; */
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    /* z-index: 1; */
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

h1{
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h4{
    font-family: 'Segoe UI', bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

form{
    top: 20%;
    display: inline-block;
    border-radius: 15px;
    align-items: center;
    padding: 1em 3em 2em 3em;
    max-width: 38em;
    width: 470px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,253,0.9);
    z-index: 10;
    position: relative;
}

.text_area{
    align-content: center;
    border-radius: 22px;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
    /* margin-top: 1.1rem; */
    align-self: center;
    font-family: 'Montserrat regular';
    font-size: 20px;
    border: none;
    /* outline: none; */
    background-color: transparent;
    width: 90%;
}

.btn{
    margin-top: 28px;
    width: 165px;
    height: 60px;
    border-radius: 30px;
    /* background: #B58DED; */
    background:#5e86be;
    border: none;
    /* font-family: 'Montserrat'; */
    font-family: sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(141, 200, 237, 0.7), 0 6px 20px 0 rgba(141, 215, 237, 0.9);
    cursor: pointer;
}

.btn:hover {
    background:#bedae7;
    box-shadow: none;
    border: 3px solid #376f92;
}

.login{
    display: inline-block;
    background: #FFFFFF;
    width: 434px;
    height: 700px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
    color: #0E4579;
    font-family: 'Montserrat light';
    font-size: 18px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
      }
}