/* Inventory */
.dashboard-layout {
    min-height: 100vh;
    display: flex;
    width: 100%;
  }

.dashboard-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }

/* Row */
.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}

/* Search box */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-bar {
  width: max-content;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 15px;
}

.input-search {
  width: max-content;
  border: 1px solid #737373;
  padding: 15px;
  height: 35px;
  border-radius: 35px;
  outline: none;
  color: #9DBFAF;
  /* width: 250px; */
}

.input-search:focus{
  color: #565656;
}

.search-btn {
  width: 38px;
  height: 35px;
  border: none;
  display: flex;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 35px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

/* Filter button */
.filter-btn {
    width: 40px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a6acac;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #737373;
    cursor: pointer;
}

/* Filter Modal */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: fit-content;
}

.filter-section {
  min-width: 190px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  flex: 1;
  background-color: #f9f9f9;

}

.filter-section h4 {
  font-size: 18px; /* Font size for the title */
  font-weight: bold; /* Bold title */
  color: #333; /* Dark color for the title */
  margin-bottom: 10px; /* Space below the title */
}

.filter-section label {
  display: flex; /* Flexbox to align checkbox and text */
  align-items: center; /* Center align items vertically */
  font-size: 16px; /* Font size for the text */
  margin-bottom: 8px; /* Space between each label */
  color: #333; /* Dark color for the text */
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.checkbox input {
  margin-right: 8px; /* Space between checkbox and label */
  transform: scale(1.2);  /* Make checkbox slightly larger */
}

.checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.apply-filters {
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-right: 10px; /* Space between buttons */
}

.apply-filters:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Style for the Close button */
.close-btn {
  background-color: #f8f9fa; /* Light background color */
  color: #333; /* Dark text color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for background and border */
}

/* Hover effect for the Close button */
.close-btn:hover {
  background-color: #e2e6ea; /* Slightly darker background on hover */
  border-color: #ccc; /* Darker border on hover */
}

/* Add button */
.add-btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 15px;
  max-width: fit-content;
  height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: auto;
}

.add-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.add-btn:hover {
  background-color: #2c974b;
}

.add-btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.add-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Model */
.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
    max-height: 70%;
    overflow-y: auto;
}

.model-bck {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label label {
  display: block;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  color: #333;
}

.label input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.label input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.label select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.label select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.option {
  padding: 8px;
  width: 100%;
  background-color: #fff;
  color: #333;
}

.option:hover {
  /* background-color: #f1f1f1;  */
  box-shadow: #9ce7f3;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  */
} 

.form-btn {
  margin-top: 5px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.form-btn button {
  padding: 10px 20px;
  font-size: 16px; 
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  border: none; 
}

.form-btn button[type="submit"] {
  background-color: #007BFF; 
  color: white; 
}

.form-btn button[type="submit"]:hover {
  background-color: #0056b3; 
}

.form-btn button[type="button"] {
  background-color: #6c757d; 
  color: white; 
}

.form-btn button[type="button"]:hover {
  background-color: #5a6268; 
}

.form-btn button[type="create"] {
  background-color: #28a745; 
  color: white; 
}

.form-btn button[type="create"]:hover {
  background-color: #218838;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

th,
td {
    padding: 10px;
    padding-bottom: 3px;
    text-align: left;
    border: 1px solid #ddd;
}
  
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
  
tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
tr:hover {
    background-color: #f1f1f1;
}
  
td button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
  
td button:first-child {
    background-color: #2196f3;
    color: white;
}
  
td button:first-child:hover {
    background-color: #1976d2;
}
  
td button:last-child {
    align-self: center;
    background-color: #f44336;
    color: white;
}
  
td button:last-child:hover {
    background-color: #d32f2f;
}

td button.icon-btn {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

td button.icon-btn:last-child {
  align-self: center;
  padding: 5px; 
  font-size: 20px; 
  color: black;
  transition: color 0.3s; 
}

td button.icon-btn:last-child:hover {
  background-color: #5a6268;
  color: white; 
}

.noti-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.noti-btn.open {
  background-color: #007bff; 
}

.noti-btn.open:hover {
  background-color: #0056b3;
}

.noti-btn.close {
  background-color: #d9534f; 
}

.noti-btn.close:hover {
  background-color: #c9302c;
}

.table-navigate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; /* Adds spacing between buttons and page number */
  padding: 10px;
}

.table-navigate button {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  font-size: 14px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-navigate button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.table-navigate button:hover {
  background-color: #d0d0d0;
}

.table-navigate p {
  margin: 0 10px;
  font-size: 16px;
  color: #333;
}

.button-container {
  display: flex;
  gap: 20px; 
  align-items: center;
  justify-content: flex-end; 
}

.semester-button {
  padding: 10px 15px;
  font-size: 16px;
  width: 120px;
  height: 40px;
  background-color: #026ac5; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.semester-button:hover {
  background-color: #03549b;;
}

.toggle-button {
  background-color: #ddd;
  border: none;
  border-radius: 30px;
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

.toggle-text {
  position: absolute;
  font-size: 14px;
  color: #333;
  transition: transform 0.3s ease;
  right: 5px;
}

/* .toggle-text {
   Default position on right side of the circle
} */

.toggle-button.active .toggle-text {
  left: 5px; /* When Sem 2, text moves to left side of the circle */
}

/* Active (Sem 2) state */
.toggle-button.active {
  background-color: #2196F3;
}

.toggle-button.active::before {
  transform: translateX(40px);
}

.toggle-button.active .toggle-text {
  color: white;
  transform: translateX(-15px); /* Move the text to the right */
}